/*font settings*/
.playfair-display-semibold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/*font*/
h1{
    font-family:"Playfair Display", serif;
    font-weight: 600;
    font-size: 60px;
}
h2{
    font-family:"Open Sans", sans-serif;
    font-weight:700;
    font-size:45px;
}
h3{
    font-family:"Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
}
h4{
    font-family:"Open Sans", sans-serif;
    font-weight:700;
    font-size:20px;
}
p{
    font-family:"Open Sans", sans-serif;
    font-weight:400;
    font-size:16px;
}
span{
    font-family:"Open Sans", sans-serif;
    font-weight:400;
    font-size:12px;
}

/*body setting*/
.container{
    /*set up a grid*/
    width:100%;
    display:grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

/*navigation*/
.navigation{
    z-index:1;
    width:100%;
    height:70px;
    position:fixed;
    padding-top:1em;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    background-color:rgba(255, 255, 255, 0.8);
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.6);
    
}
.navigation #logo{
    width: 3em;
    height:3em;
}
.navigation .icon{
    width:2em;
}
.navigation input[type=text]{
    width: 35em;
    padding:0.7em;
    padding-left:3.5em;
    background: url("ref/search.png") no-repeat 20px 7px;
    background-size:1.5em;
    border-radius: 30px;
    border-width:1px;
    border-style:solid;
    border-color:#231F20;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.navigation input[type=text]::placeholder{
    color:#231F20;
}
.navigation button{
    width:8em;
    margin-left:1em;
    padding:0.7em;
    padding-left:1.5em;
    padding-right:1.5em;
    border-radius:30px;
    background-color:#3F67C5;
    font-family:"Open Sans", sans-serif;
    font-weight:700;
    font-size: 14px;
    color:#EFEFEF;
}
.navigation button:hover{
    background-color:#EFEFEF;
    border-width: 2px;
    border-color:#3F67C5;
    color:#3F67C5;
}
.navigation .links{
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display:flex;
    align-items:center;
}
.navigation .links a{
    color:#231F20;
    text-decoration: none;
}
.navigation .links a:visited{
    color:#231F20;
    text-decoration: none;
}
.navigation .links a:hover{
    text-decoration:underline;
}
.navigation .links a{
    padding:1em;
}
.navigation #signin img{
    position:relative;
    margin-right: 10px;
    padding-top:10px;
    
}
/*header*/
.head{
    grid-area:1 / 1 / 2 / 11;
    background:black;
    overflow:hidden;
    width:100%;
    height: 40em;
    position:relative;
}
.head img{
    width:100%;
    object-fit:cover;
    opacity:0.4;
}
.head .title{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#EFEFEF;
    text-align:center;
}

/*featured image*/
.f_image{
    grid-area: 2/1/3/11;
    height:auto;
    width: 100%;
    position:relative;
    display:flex;
    flex-direction:column;
}
.f_image_content{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:5%;
}
.f_image img{
    height: 40em;
    box-shadow: 5px 5px 5px gray;
}
.f_image .content{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    border-width:1px;
    border-color:#3F67C5;
    border-style:solid;
    border-radius: 5px;
    padding:5%;
}
.f_image .description{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:3em;
}
.f_image p{
    width:30em;
    padding-left:1em;
    margin-left:2em;
}
.f_image span{
    padding-left:2em;
    margin-left:2em;
    color:#3F67C5;
}
.f_image a{
    padding:1em;
    margin-left:2em;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#231F20;
    text-decoration: none;
}
.f_image a:visited{
    color:#231F20;
    text-decoration:none;
}
.f_image a:hover{
    text-decoration:underline;
}

/*featured articles*/
.f_articles{
    grid-area: 3/1 /4 /11;
    height:auto;
    width: 100%;
    position:relative;
    display:flex;
    flex-direction:column;
}
.f_articles_content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:5%;
}
.f_article_group{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.f_articles img{
    height:20em;
    width:17em;
    object-fit:cover;
}
.f_articles p{
    width:17em;
    margin-top:-1em;
}
.f_articles .article_card{
    width:20em;
    height:auto;
    margin:1em;
    padding:2em;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius: 5px;
    box-shadow: 0px 5px 7px gray;
}
.f_articles a{
    width:100%;
    position:absolute;
    bottom:1em;
    left:1em;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#231F20;
    text-decoration: none;
}
.f_articles a:visited{
    color:#231F20;
    text-decoration:none;
}
.f_articles a:hover{
    text-decoration: underline;
}

/*banner*/
.call{
    grid-area:4/1/5/11;
    height:40em;
    width: 100%;
    overflow:hidden;
    background:black;
    position:relative;
    margin-top:5%;
    margin-bottom:5%;
}
.call img{
    width:100%;
    height:auto;
    opacity:0.4;
}
.call .call_title{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#EFEFEF;
    text-align:center;
}
.call button{
    margin:1em;
    width:auto;
    padding:0.7em;
    padding-left:1.5em;
    padding-right:1.5em;
    border-radius:5px;
    background-color:#3F67C5;
    font-family:"Open Sans", sans-serif;
    font-weight:700;
    font-size: 14px;
    color:#EFEFEF;
}
.call button:hover{
    color:#3F67C5;
    background-color:#EFEFEF;
    border-color:#3F67C5;
}

/*featured news*/
.f_news{
    grid-area:5/1/6/11;
    height:auto;
    width: 100%;
    position:relative;
    display:flex;
    flex-direction:column;
}
.f_news_content{
    position:relative;
    display:flex;
    flex-direction:column;
    margin:5%;

}
.f_news_group{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.f_news img{
    height:10em;
    width:15em;
    object-fit:cover;
}
.f_news .news_card{
    width:15em;
    height:100%;
    margin:1em;
    border-radius: 5px;
    border-width: 1px;
    border-style:solid;
    border-color:#3F67C5;
}
.f_news .subtitle{
    padding-left: 1em;
    padding-right: 1em;
}
.f_news .news_card a{
    position:absolute;
    bottom:0;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#231F20;
    text-decoration: none;
}
.f_news .news_card a:visited{
    color:#231F20;
    text-decoration: none;
}
.f_news .news_card a:hover{
    text-decoration:underline;
}

/*footer*/
.footer{
    grid-area: 6/1/7/11;
    position:relative;
    margin-top:5em;
    padding: 2em;
    background-color:#EFEFEF;
    display:flex;
}
.footer a{
    width: 100%;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:#231F20;
    text-decoration: none;
}